<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>derik</string>
	<string>Derik_2</string>
	<string>Derik_3</string>
	<string>Derik_4</string>
	<string>Derik_3</string>
	<string>Derik_2</string>
	<string>derik</string>
	<string>Derik_2</string>
	<string>Derik_3</string>
	<string>Derik_4</string>
	<string>Derik_3</string>
	<string>Derik_2</string>
	<string>Derik_blink</string>
	<string>Derik_2</string>
	<string>Derik_3</string>
	<string>Derik_4</string>
	<string>Derik_3</string>
	<string>Derik_2</string>
</array>
</plist>
