<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>max</string>
	<string>Max_2</string>
	<string>Max_3</string>
	<string>Max_4</string>
	<string>Max_3</string>
	<string>Max_2</string>
	<string>max</string>
	<string>Max_2</string>
	<string>Max_3</string>
	<string>Max_4</string>
	<string>Max_3</string>
	<string>Max_2</string>
	<string>Max_blink</string>
	<string>Max_2</string>
	<string>Max_3</string>
	<string>Max_4</string>
	<string>Max_3</string>
	<string>Max_2</string>
</array>
</plist>
