<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Ninja_1</string>
	<string>Ninja_2</string>
	<string>Ninja_3</string>
	<string>Ninja_4</string>
	<string>Ninja_3</string>
	<string>Ninja_2</string>
	<string>Ninja_1</string>
	<string>Ninja_2</string>
	<string>Ninja_3</string>
	<string>Ninja_4</string>
	<string>Ninja_3</string>
	<string>Ninja_2</string>
	<string>Ninja_Blink</string>
	<string>Ninja_2</string>
	<string>Ninja_3</string>
	<string>Ninja_4</string>
	<string>Ninja_3</string>
	<string>Ninja_2</string>
</array>
</plist>
